.Article {
    margin: 0px;
    padding: 20px;



}

.Article_top {
    height: 80px;
    display: flex;
    justify-content: space-between;


}

.Article_top_left {
    display: flex;
    align-items: center;



}

.Article_top_head {
    .Article_top_headImg {
        width: 70px;
        height: 70px;
        border-radius: 100%;
    }
}

.Article_top_headleft {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 20px;

    .Article_top_name {
        color: black;
        font-size: 26px;
    }

    .Article_top_time {
        color: gray;
        font-size: 24px;
    }
}

.Article_top_right {
    .Article_top_rightImg {
        width: 60px;
        height: 50px;
    }
}

.Article_context {
    margin-bottom: 10px;

    .Article_context_title {
        color: #323232;
        font-family: cursive;
        font-size: 32px;
        font-weight: bold;
    }

    .Article_context_contain {
        color: #555555;
        font-family: cursive;
        font-size: 30px;
    }
}

.Article_bottom {
    height: 50px;
    display: flex;
    align-items: center;

    .Article_bottomImg {
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }

    .Article_bottom_text {
        font-size: 27px;
        margin-right: 20px;
    }
}
.Article_bottomDiv{
    display: flex;
}

.reportTip{
    font-size: 25px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    color: red;
}
.reportButton{
    border-radius: 31.8rpx;
    margin: 0 auto;
    height: 55px;
    line-height: 55rpx;
    background-color: rgb(117 117 117);
    text-align: center;
    width: 30%;
    color: white;
    margin-top: 15px;
}