.selectDiv{
    display: flex;
    justify-content: space-between;
}

.tagDiv{
    height: 50px;
    border-radius: 8px;
    text-align: center;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.tag{
    height: 50px;
    background-color: #8BD1AE;
    border-radius: 8px;
    text-align: center;
    margin-left: 20px;
    line-height: 50px;
}
.isPublice{
    display: flex;
    margin-right: 20px;
}
.loginButton{
    background-color: #8BD1AE;
    height: 65px;
    text-align: center;
    line-height: 65px;
    border-radius: 40px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 40px;
    display: flex;
    color: white;
}