.myHead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    z-index: 199;
}

.left {
    float: left;
    display: flex;
    align-items: center;
    padding-left: 40px;
}

.right {
    float: right;
    padding-right: 40px;
}

.headImg {
    width: 110px;
    height: 110px;
    border-radius: 100%;
    border: 1px solid #7dfeff;
    margin-right: 10px;
}

.headDiv {
    display: flex;
    align-items: center;
}

.headname {
    font-size: 32px;
    text-shadow: 10px 10px 1px #fff8b7;
}

.sex {
    margin-left: 10px;
    height: 22px;
    min-width: 40px;
    line-height: 22px;
    font-size: 15px;
    border-radius: 10px;
    color: white;
    background: -webkit-linear-gradient(#cec8c8, #b6ead4, #a7afaf);
    text-align: center;
}

.headId {
    margin-top: 10px;
    font-size: 30px;
}

.row {
    width: 35px;
    height: 35px;
}


.loginFalse {
    font-size: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.loginTip {
    padding-top: 5px;
    padding-bottom: 10px;
    font-style: italic;
}

.loginButtom {
    text-align: center;
    font-size: 28px;
    border-radius: 30px;
    background: -webkit-linear-gradient(#f5b5f0, #abf3ed, #f3f9a1);
    height: 40px;
    line-height: 40px;
    font-family: fangsong;
    width: 150px;
    font-weight: bolder;
    border: 1px solid #7dfeff;
    color: #887e79;
    z-index: 99;
}