
.contain{
    padding-left: 30px;
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.left{
    min-width: 100px;
}
.leftImg{
    width: 70px;
    height: 70px;
    border-radius: 100%;
}
.center{
    display: flex;
    flex-direction: column;
}
.centerLeft{
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
}
.name{
    font-size: 30px;
    height: 25px;
    line-height: 25px;
}
.content{
    padding-top: 10px;
    font-size: 28px;
    height: 25px;
    line-height: 25px; 
    display: flex;
}
.time{
    font-size: 25px;
    color: gray;
}

.right{
    min-width: 60px;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: right;
}
.rightImg{
    width: 35px;
    height: 35px;
}
