.HomeCenterList{
    font-size: 30px;
}
.HomeCenterUl{
    margin-top: 10px;
    display: flex;
}

.HomeCenterLi{
    flex: 1;
    display: inline-grid;
    justify-content: center;
    justify-items: center;
}

.HomeCenterImg{
    width: 70px;
    height: 70px;
    margin-bottom: 5px;
}