.HomeCenterList{
    font-size: 30px;
}
.HomeCenterUl{
    margin-top: 10px;
    display: flex;
}

.HomeCenterLi{
    flex: 1;
    display: inline-grid;
    justify-content: center;
    justify-items: center;
}

.HomeCenterImg{
    width: 70px;
    height: 70px;
    margin-bottom: 5px;
}
.Home_center_2 {
    display: flex;
}

.left {
    flex: 1;
    background: linear-gradient(to bottom, #d2f596, #f4f1f1);
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 15px;
}

.right {
    flex: 1;
    background: linear-gradient(to bottom, #fffc6a, #f0fffe);
    border-radius: 7px;
    margin-right: 20px;
    margin-top: 15px;
}

.left_top{
    display: flex;
    text-align: center;
    margin-top: 5px;
    width: 100%;
}
.left_top_title{
    font-weight: bold;
    font-size: 30px;
    font-style: italic;
    margin-bottom: 3px;
    width: 100%;
}
.left_top_headImg{
    margin-left: 10px;
    position: relative;
    width: 100%;
}
.img1{
    width: 55px;
    height: 55px;
    border-radius: 100%;
    position: relative;
    left: 40px;
}
.img2{
    width: 55px;
    height: 55px;
    border-radius: 100%;
    position: relative;
    right: -15px;
}
.img3{
    width: 55px;
    height: 55px;
    border-radius: 100%;
    position: relative;
    right: 15px;
}
.img4{
    width: 55px;
    height: 55px;
    border-radius: 100%;
    position: relative;
    right: 45px;
}

.img5{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-right: 10px;
}

.left_bottom{
    font-size: 20px;
    margin-bottom: 5px;
    width: 100%;
    color: #b0f53a;
    font-weight: bolder;
    text-align: center;
}
.right_bottom{
    font-size: 20px;
    margin-bottom: 5px;
    width: 100%;
    color: #f8f415;
    font-weight: bolder;
    text-align: center;
}
.searchImg{
    width: 35px;
    height: 35px;
    padding-left: 5px;
    padding-right: 10px;
}

.search{
    display: flex;
    align-items: center;
    border: 1px solid rgb(243, 243, 243);
    border-radius: 30px;
    background-color: rgb(250, 250, 250);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 20px;
    color: gainsboro;
}

.list{
    margin-bottom: 130px;
}