.BottomNavigation{
    background-color: rgb(250, 250, 250);
    list-style: none;
    display: flex;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100%;
    border-top-width: 1px;
    border-top-color: #e2e2e2;
    border-top-style: solid;
    position: fixed;
}

.BottomNavigationLink{
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.BottomNavigationImg{
    width: 1.2rem;
    height: 1.2rem;
}

.BottomNavigationTrue{
    color:#8BD1AE;
    font-size: 28px;
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.BottomNavigationFalse{
    color: gray;
    font-size: 26px;
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.red{
    background-color: rgb(235, 41, 41);
    color: white;
    width: 35px;
    height: 30px;
    border-radius: 100%;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    position: relative;
    right: 20px;
    top: 5px;
    position: absolute;
}