.history{
    font-size: 30px;
    font-weight: bold;
    padding-left: 25px;
    padding-right: 25px;
}
.historyTop{
    display: flex;
}

.clear{
    margin-left: 30px;
}

.tags{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 20px;
    background-color: rgb(240, 240, 240);
    font-size: 26px;
    font-weight: normal;
    color: rgb(90, 90, 90);
}
.moreTip{
    color: gray;
    font-size: 28px;
    text-align: center;
    font-family: cursive;
}