

.Carousel{
    margin: 0px;
}

.announcement{
    display: flex;
    margin-left: 40px;
    font-size: 24px;
    align-items: center;
    text-align: center;
}
.announcementText{
    width: 80px;
    color: yellowgreen;
}

.announcementImg{
    width: 50px;
    height: 50px;
}

.announcementNoticebar{
    background-color: white;
    margin-right: 40rpx;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 10px;
    border-radius: 10px;
}

.announcementNull{
    flex: 1;
}