.contain {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
}

.lines {
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(245, 245, 245);
}

.lines1 {
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(245, 245, 245);
}

.left1 {
    float: left;
    height: 100px;
    line-height: 100px;
}

.right1 {
    float: right;
    height: 100px;
    line-height: 100px;
}

.left {
    float: left;
    height: 40px;
    line-height: 40px;
}

.right {
    float: right;
    height: 45px;
    line-height: 45px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 80%;
}

.headImg {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: lightgray;
}

.collapseItems {
    display: flex;
    flex-direction: column;
}

.collapseItem {
    height: 60px;
    line-height: 60px;
    align-items: center;
}

.dialogInput {
    padding-bottom: 50rpx;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.loginButton {
    position: relative;
    background-color: #ffffff;
    border: 1px solid lightgray;
    height: 70px;
    text-align: center;
    line-height: 70px;
    border-radius: 40px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 40px;
    display: flex;
    color: rgb(255, 5, 5);
}

.inputCount {
    position: absolute;
    bottom: 152px;
    right: 100px;
    font-size: 24px;
    color: gray;
}