.Notice_List {
    display: block;
}

.list_item {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 10;
    height: 80px;
}

.list_red{
    background-color: rgb(235, 41, 41);
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    position: relative;
    right: 20px;
    top: 5px;
}

.itemImg {
    width: 70px;
    height: 70px;
    border-radius: 100%;
}

.list_center {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    line-height: 40px;
    padding-left: 20px;
    flex: 1;
    height: 80px;

}
.list_title {
    font-weight: bold;
    font-size: 28px;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 5;
}
.list_bottom {
    width: 100%;
    display: flex;
    height: 40px;
}

.list_message {
    font-size: 24px;
    width: 150px;
    color: gray;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 5;
    padding-right: 35px;
}
.list_time{
    flex: 3;
    text-align: right;
    overflow: hidden;
    padding-right: 20px;
}

.noLogin1{
    width: 100%;
    text-align: center;
    padding-top: 100px;
    font-weight: bold;
    color: #727d72;
    font-size: 32px;
}
.noLogin2{
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: #8BD1AE;
    font-size: 34px;
    font-style: italic;
    text-decoration: underline;
}