.GButton{
    text-align: center;
    font-size: 30px;
    border-radius: 30px;
    background: -webkit-linear-gradient(#cdffff, #8BD1AE, #f5f8c5);
    font-family: fangsong;
    font-weight: bolder;
    border: 1px solid #7dfeff;
    color: #887e79;
<<<<<<< HEAD
    z-index: 99;
=======
    z-index: 98;
>>>>>>> c9d95df691930cc6cc983ad4835cefd851fc86dc
}