.Notice_List {
    display: block;
}

.list_item {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.itemImg{
    width: 70px;
    height: 70px;
    border-radius: 100%;
}

.list_center {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    line-height: 40px;
    padding-left: 20px;
    .list_title{
        font-weight: bold;
        font-size: 28px;
    }
    .list_message{
        font-size: 24px;
        color: gray;
    }
}