.TopBar{
    background-color:#8BD1AE;
    display: flex;
    height: auto;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    width: 100%;
    top: 0;
}

.TopBarLeftItem{
    flex: 1 1;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.TopBarLeftItemImg{
    width: 40px;
    height: 30px;
    padding-left: 10px;
}

.TopBarItem{
    flex: 1 1;
    display: flex;
    justify-content: center;
    align-items: center;
}