.box{
    box-shadow: 0 0 20px #ececec;
    margin: 30px;
    padding-bottom: 20px;
    border-radius: 20px;
}
.item{
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
}
.dot{
    color: red;
}
.dot1{
    background-color: red;
    height: 12px;
    width: 12px;
    border-radius: 10px;
}

.dot2{
    background-color: green;
    height: 12px;
    width: 12px;
    border-radius: 10px;
}

.dot3{
    background-color: yellow;
    height: 12px;
    width: 12px;
}
.dot4{
    background-color: gray;
    height: 12px;
    width: 12px;
}
.dot5{
    background-color: blue;
    height: 12px;
    width: 12px;
}

.dot6{
    border-radius: 10px;
    background-color: orange;
    height: 12px;
    width: 12px;
}
.hitRed{
    color: red;
    font-size: 22px;
    text-align: center;
    padding:10px;
}

.hitRed2{
    color: red;
    font-size: 22px;
    padding:10px;
    padding-left: 30px;
}
.inputs{
    padding: 10px;
    padding-left: 20px;
    width: 100%;
}
.line{
    background-color: #f8f8f8;
    height: 1px;
    margin-left: 50px;
    margin-right: 40px;
}

.lefHit{
    padding-left: 20px;
}

.RadioGroup{
    padding-left: 20px;
}

.loginButton{
    background-color: #8BD1AE;
    height: 65px;
    text-align: center;
    line-height: 65px;
    border-radius: 40px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 40px;
    display: flex;
    color: white;
}